.ListItems{
    background: #fff;
    color: rgb(24, 76, 77);
    }
.ListItems p{
    margin: 0;
    text-align: center;
    padding: 10px 0px;
    
    font-weight: bolder;
}
.ListItems span{
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    border: 0.3px solid #ccc;
    }
.ListItems span.title{
    background: rgb(170, 11, 72);
    color: #fff;
        
    }
.ListItems span.name,
  form input[type=text] {
    width: 60%;
    }
.ListItems span.age,
  form input[type=number] {
    width: 30%;
    } 
.ListItems span.action,
  form input[type=submit] {
    width: 10%;
    }
.ListItems span.icon{
    color: #f00;
    cursor: pointer;
    }
form input {
    padding: 10px;
    background: #ebebeb;
    border: transparent;
    border: 0.3px solid #ccc;
  
    }
form input[type=submit]{
    background: rgb(170, 11, 72);
    border: 0.3px solid rgb(170, 11, 72);
    color: #fff;
    cursor: pointer;
  }